@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

/* CSS RESET */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**/
/* ROOT, APP & CROSS SECTION CLASSES*/

#root {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.max-width-1200 {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 5rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.capitalize {
  text-transform: capitalize;
}

button:hover {
  cursor: pointer;
}

/* HEADER */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  padding: 0.75rem 1.25rem;
}

.navbar > .logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.save-up-logo {
  height: 48px;
}

.spacer {
  flex-grow: 1;
}

.navbar > .button-style,
.button-style,
button.button-style {
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
  padding: 0.75rem 1.25rem;
  background-color: #9ccbe3;
  border-radius: 5px;
  border: 0;
}

.button-style:hover {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: none;
}
/* FOOTER */

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  background-color: #0c67ad;
}

footer svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
  color: #ffffff;
}

footer svg:hover {
  transform: rotate(360deg) scale(1.2);
}

/* RESOURCES */
.resources-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.category-navbar {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.category-link {
  text-decoration: dotted;
  color: #000000;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* HOME */
.hero-section {
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 50px;
}
.hero-section__title {
  font-size: 5rem;
}

.hero-section__subtitle {
  font-size: 2rem;
}

.description-section {
  margin-top: 5rem;
}

.values-section {
  text-align: center;
  margin: 5rem 0;
}
.values-title {
  font-size: 1.5rem;
}

.values-container {
  margin-top: 1rem;
  display: flex;
}

.value-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* XXXXXX */
/* XXXXXX */
/* XXXXXX */
/* XXXXXX */
/* XXXXXX */
/* XXXXXX */
